node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
.env
*.tsbuildinfo
.vscode/
.idea/
.DS_Store
Thumbs.db
server_err.txt
server_out.txt
update-cache.json
crop_log.txt